
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	font-size: 18px;
}
.wrapper {
	max-width: 930px;
	margin: 0 auto;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.container * {
		flex-grow: 1;
}
h1,
h2 {
	margin-bottom: 80px;
	font-size: 24px;
	text-align: center;
	line-height: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
}
.btn {
	display: block;
	max-width: 310px;
	font-size: 18px;
	width: 100%;
	background-color: #3c3cdd;
	margin: 0 auto;
	padding: 20px;
	border: none;
	color: white;
}
/* =================================== */
.promo {
	padding-top: 110px;
	padding-bottom: 140px;
}
.promo iframe,
.promo form {
	margin-bottom: 20px;
		flex-basis: 350px;
}
.promo span {
	font-weight: normal;
	text-transform: none;
}
.promo .container {
	justify-content: space-around;
}
.promo .video {
	max-width: 550px;
}
.promo .form {
	max-width: 350px;
	padding: 20px;
	border: 4px solid #3c3cdd;
}
.promo .form h3 {
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
}
.promo .form input {
	width: 100%;
	padding: 15px;
	display: block;
	border: 1px solid #333333;
	color: #999999;
}
.promo .form input,
.promo .form button {
	margin-top: 10px;
	font-size: 18px;
}
/* ============================= */
.features {
	margin-bottom: 100px;
}
.features img {
	display: block;
	margin: 0 auto;
}
.features p {
	margin-top: 20px;
	text-align: center;
}
.features .container {
	justify-content: space-between;
}
.features .container div {
	max-width: 130px;
	margin-bottom: 20px;
}
.features .btn {
	margin-top: 100px;
}
/* ============================ */
.clients {
	margin-bottom: 100px;
}
.clients .container * {
	flex-basis: 220px;
}
.clients .container {
	margin: -15px;
}
.clients .container-2 {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
.clients img {
	width: 25%;
	height: 100%;
	padding: 15px;
}
