section {
  width: 570px;
  height: 570px;
  padding: 100px 125px;
  background: url("../img/bg.png") no-repeat;
  font-family: Arial, sans-serif;
  color: #333;
}
section form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 320px;
  height: 370px;
  background-color: #ffffff;
  padding: 30px;
  padding-top: 52px;
  border: 1px solid #cfdede;
}
section form h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #01b3b3;
  font-weight: bold;
  position: absolute;
  top: -4px;
  width: 150px;
  font-size: 12px;
  padding: 7px 0;
}
section form label {
  font-weight: 700;
  font-size: 12px;
}
section form label:after {
  content: " *";
  color: blue;
}
section form input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 12px 0px 14px 0;
  padding: 7px 10px;
  background-image: url("../img/bg.png");
  border: 1px solid #cfdede;
}
section form input[placeholder] {
  font-style: italic;
}
section form .last {
  display: block;
  margin: 20px 0 12px 0;
}
section form button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #01b3b3;
  font-weight: bold;
  font-size: 16px;
  line-height: 43px;
  width: 100%;
  border: none;
  margin-top: 22px;
  border-radius: 4px;
}
