@font-face {
    font-family: 'ProRg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProEx';
    src: url('../fonts/ProximaNovaExCn-Regular.eot');
    src: url('../fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNovaExCn-Regular.woff') format('woff'),
        url('../fonts/ProximaNovaExCn-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNovaExCn-Regular.svg#ProximaNovaExCn-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* colors */
@bg: #0d0e1f;
@font: rgba(255, 255, 255, 0.6);
@font-dark: rgba(255, 255, 255, 0.4);
@gold: #f9d9a3;
@gold-shadow: rgba(249, 217, 163, 0.3);
@line: rgba(255, 255, 255, 0.1);
@projects-preview: #0e142a;
@projects-block: #0f1d3a;
@font-black: #101114;
@link: rgba(16, 17, 20, 0.6);
@projects-preview-active: #0f1d3a;
@technology-block: #152b4b;
@footer: #0f1428;

.Oswald() {
    font-family: 'ProEx';
}
input {
    display: block;
    border: none;
    border-bottom: 1px solid @line;
    background-color: transparent;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    width: 100%;
    &:placeholder {
        color: @line;
    }
}
.label {
   color: @font;
   font-weight: normal; 
   font-size: 1.6rem;
   padding: 0;
   display: block;
   text-align: left;
}
html {
    font-size: 10px;
}
body {
    font-family: 'ProRg', sans-serif;
    color: @font;
    background-color: @bg;
}
* {
    outline: none;
}
h1, h2 {
  margin: 0;
  .Oswald();
}
h1, h2, h3, h5 {
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 10rem;
    line-height: 9rem;
    margin-bottom: 3rem;
    margin-top: 18rem;
}
h2 {
    font-size: 6.8rem;
    margin-bottom: 6rem;
    &:before {
        content: '';
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        transform: rotate(45deg);
        margin: 0 auto;
        margin-bottom: 2rem;
        border: 4px solid #d9bd95;
    }
}
h3 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}
h4 {
    font-size: 1.9rem;
    color: #ffffff;
    margin: 0;
}
h5 {
    font-size: 1.8rem;
}
p {
    font-size: 1.6rem;
    margin: 0;
}
section {
    padding: 9rem;
}
input, button {
    outline: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.button {
    border: 2px solid @gold;
    padding: 2rem 7rem;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: @gold;
    font-weight: bold;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.gold {
    color: @gold;
}



.main {
    padding: 6rem 0 38rem 0;
    .heading-p {
        margin-bottom: 8.2rem;
        font-size: 2.8rem;
    }
}
.nav {
    display: flex;
    justify-content: center;
    position: relative;
    img {
        margin-right: 3rem;
    }
    & > span {
        margin-right: 3rem;
        display: block;
        margin-top: 1rem;
        &:hover:after {
            width: 1.4rem;
            height: 1.4rem;
            transform: rotate(45deg);
            border: 2px solid @gold;
            display: block;
            margin-right: 1rem;
            position: absolute; 
            background-color: @bg;
        }
    }
    .gold {
        color: @gold;
    }
    .lang {
        position: absolute;
        right: 0;
    }
}

.projects {
    .slider-for {
        margin: 0 -4.5rem;
    }
    .slider-nav {
        &-item {
            cursor: pointer;
        }
        .slick-current {
            .projects-preview {
                background-color: @projects-preview-active;
                transform: scale(0.95);
            }
        }
    }
    &-block {
        padding: 8.5rem 10rem 9rem 5rem;
        background-color: @projects-block;
        margin: 3rem 5.5rem;
        position: relative;
        &-right {
            h3 {
                margin: 0;
            }
            p {
                margin-bottom: 4rem;
            }
        }
        &-left {
            border-right: 1px solid @line;
            margin-top: 14rem;
            .row {
                display: flex;
                align-items: flex-end;
            }
        }
        h3 {
            font-size: 2.8rem;
            text-align: left;
            margin-bottom: 4rem;
            line-height: 4.2rem;
        }
        .num {
            font-size: 5rem;
        }
        .sum {
            margin-top: 1rem;
            font-size: 9rem;
            color: #ffffff;
            margin-bottom: 2rem;
            line-height: 8rem;
        }
        .sum, .num {
            .Oswald();
        }
        a {
            margin: 3rem;
            margin-top: 4rem;
            display: inline-block;
            color: rgba(255, 255, 255, 0.8);
        }
        &-description {
            padding: 5rem 14rem;
            background-color: @gold;
            background-size: cover;
            position: absolute;
            top: -2rem;
            left: -5.5rem;
            color: @font-black;
            text-align: center;
            box-shadow: 0px 30px 60px 0px rgba(16, 17, 20, 0.35);
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 2rem;
            }
            .site {
                text-decoration: underline;
                color: @link;
                font-size: 1.6rem;
            }
        }

    }
    &-preview {
        padding: 2.5rem 4rem;
        background-color: @projects-preview;
        margin: 0 1rem;
        min-height: 13.5rem;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
        .price {
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
        }
        .date {
            font-size: 0.9rem;
        }
        .price, .date {
            text-align: center;
        }
    }
}

.technology {
    .row {
        margin-bottom: 6rem;
    }
    &-description,
    &-block {
        min-height: 11rem;
    }
    &-description {
        h4 {
            margin-bottom: 1rem;
        }
        .content {
            display: none;
            margin-top: 3rem;
            li {
                margin-bottom: 2rem;
            }
        }
        .header {
            &-wrap {
                display: flex;
                align-items: center;
                min-height: 11rem;
            }
        }
    }
    &-block {
        background-color: @technology-block;
        padding: 4.5rem 13rem;
        color: #ffffff;
        text-align: center;
        &-2 {
            padding: 4.5rem 4rem;
        }
    }
}
.team {
    &-slider {
        img {
            max-width: 100%;
        }
        .name {
            font-size: 1.8rem;
            color: #ffffff;
            margin-top: 3rem;
        }
        .job {
            font-size: 1.8rem;
            color: @gold;
        }
        a {
            color: rgba(255, 255, 255, 0.4);
            text-decoration: underline;
            font-size: 1.2rem;
        }
    }
}
.order {
    .price {
        font-size: 6.8rem;
        color: @gold;
        .Oswald;
        margin-bottom: 2.5rem;
    }
    .label {
        line-height: 2.7rem;
        font-size: 1.8rem;
    }
    form {
        .button {
            margin-top: 5rem;
            padding: 2rem 7.5rem;
        }
    }
}
.footer {
    background-color: @footer;
    padding: 5rem;
    input {
        display: inline-block;
        width: auto;
        padding: 1rem 0;
    }
    a {
        color: @gold-shadow;
        text-decoration: underline;
    }
    p {
        color: rgba(255, 255, 255, 0.3);
        line-height: 3rem;
    }
    .heading {
        color: @font;
        margin-bottom: 1.5rem;
    }
}