body {
  margin: 0;
}
.main-menu {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}
.main-menu li {
  display: inline-block;
  padding: 20px 30px;
}
.main-menu a {
  color: white;
  text-decoration: none;
}
.text {
  margin-top: 60px;
}