h1 {
	text-align: center;
	margin: 120px 0;
	text-transform: uppercase;
	font-size: 36px;
}
img {
	height: 140px;
}
p {
	font-size: 18px;
	margin-top: 30px;
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
}